encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1q4gt2dt77yugyyae3te8myk67ehs3ccymshwltjppuh70a5j5atsqmvs84"	#PASTE COPIED KEY
[git]
    autoCommit = true
    autoPush = true
